<!-- Encabezado de la página -->
<header class="container-header">
    <div class="row"> <!-- Agregamos el contenedor de filas -->

        <!-- Columna 1 con el logo y el nombre del sitio -->
        <div class="col-12 col-sm-6 d-flex align-items-center">
            <!-- Enlace al inicio con el nombre del sitio como botón -->
            <a href="/home" class="btn text-dark border-0 ms-4 d-flex justify-content-start align-items-center">
                <!-- Título del sitio -->
                <% if (session.orgIcono && !Buffer.isBuffer(session.orgIcono)) { session.orgIcono=Buffer.from(session.orgIcono, 'base64' ); } %>
                <% if (session.orgIcono) { %>
                    <img src="data:image/png;base64, <%= session.orgIcono.toString('base64') %>" width="80" alt="Imagen">
                <% } %>
                <h4 style="font-family: 'Cambria', cursive; font-size: 33px; margin-left: 20px;" class="mt-2">
                    <strong>
                        <%= session.orgNombre %>
                    </strong>
                </h4>
            </a>
        </div>

        <!-- Columna 2 con los botones de login y correo -->
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center mb-2 mt-sm-0">
            <!-- Botón del perfil con menú desplegable -->
            <button class="btn btn-dark dropdown-toggle p-2" type="button" id="perfilDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <% if (session.imagen && !Buffer.isBuffer(session.imagen)) { session.imagen=Buffer.from(session.imagen, 'base64' ); %>
                    <img src="data:image/png;base64,<%= session.imagen.toString('base64') %>" alt="Imagen de perfil" style="width: 32px; height: 32px; border-radius: 50%;">
                <% } else { %>
                    <i class="bi bi-person-circle"></i>
                <% } %>
            </button>
            <!-- Menú desplegable del perfil -->
            <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                <% if (session.rol==='1' ) { %>
                    <li><a class="dropdown-item" href="/home/organizacion">Organizacion</a></li>
                <% } else { %>
                    <li><a class="dropdown-item" href="/reservas_usuario">Reservas</a></li>
                <% } %>
                <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
            </ul>
            <!-- Botón del correo -->
            <a href="/email" class="btn text-dark border-0 mt-sm-0 ms-sm-2">
                <button class="boton" type="login"><i class="bi bi-envelope-plus"></i></button>
            </a>
        </div>

    </div>
</header>
